mixin intro()
    .intro 
        .intro__body.container 
            .intro__img 
                img(src="@img/intro-img.png", alt="")
            .intro__content     
                p.intro__p PileBlocks is a play-to-earn strategy game on the Everscale blockchain where players complete images from tiles together.
                .intro__row
                    p.intro__p Current game: “The Magic of Solana Lands”, 01.09.2022 - 31.09.2022
                    a(href="#!").intro__btn JOIN 