mixin rules()
    .rules 
        .rules__body.container 
            .rules__item 
                h2.rules__title Game Rules
                .rules__item 
                    p.rules__p Every month a fresh map appears. The map has 100 territories. Each of these territories becomes available for capturing only at a certain point of time